<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Saved Movies</title>
    <link rel="stylesheet" href="css/movieRec.css" />
    <link rel="icon" href="images/logo.png" type="image/png" />
    <style>
        .items {
          display: flex;
          flex-wrap: wrap;
          gap: 20px; /* Adjust the gap as needed */
        }
        .item-ins {
          flex: 1 1 calc(20% - 20px); /* Adjust the width and gap as needed */
          box-sizing: border-box;
        }
      </style>
  </head>
  <body>
    <%- include('navBar.ejs') %>
    <div class="bg">
      <br />
      <img src="images/logo.png" alt="logo Image" id="logo-image" />
      <div class="heading-text"><b>MOOD FLIX</b></div>
      <div class="text2">
        <br />
        We've curated a selection of movies just for you, guaranteed to keep
        your smiles flowing
      </div>
      <div class="search-margin">
        <input
          type="text"
          class="instructor-search"
          id="search"
          placeholder="Search"
        />
      </div>
      <br />
      <section class="container content-section">
        <div class="items">
          <form id="ratingForm" method="POST" action="">
            <% dbRecordList.forEach(function(movie) { %>
            <div class="item-ins">
              <img
                class="item-image-ins"
                src="<%= movie.posterLink %>"
                alt=""
              />
              <span class="item-title"><%= movie.title %></span>
              <div class="item-details">
                <p>
                  <strong>Overview:</strong>
                  <br />
                  <br />
                  <%= movie.description %>
                  <br />
                  <br />
                  Rating: <%= movie.imdbRating %>
                </p>
                <p class="error-msg" style="display: none; color: red"></p>
              </div>
            </div>
            <% }); %>
          </form>
        </div>
      </section>
    </div>
  </body>
  <script>
    function filterItems() {
      var searchInput = document.getElementById("search").value.toLowerCase();
      var items = document.querySelectorAll(".item-ins");

      items.forEach(function (item) {
        var title = item.querySelector(".item-title").innerText.toLowerCase();

        if (title.includes(searchInput)) {
          item.style.display = "block";
        } else {
          item.style.display = "none";
        }
      });
    }

    // Add event listener for search input
    document.getElementById("search").addEventListener("input", filterItems);
  </script>
</html>
